.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.top-calendar,
.main-calendar {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main-calendar {
    width: 1600px;
}

#calendar li,
#nome-mese {
    text-transform: capitalize;
}

.festivo {
    color: red;
}

.btn-navigation {
     padding: 5px 20px;
     border-radius: 5px;
     background-color: purple;
     color: white;
     border: none;
     cursor: pointer;
}

.btn-navigation:disabled{
     background-color: #efefef;
     cursor: not-allowed;
}

.giorni {
    position: relative;
    right: 73px;
}

.giorni li {
    display: flex;
    align-items: center;
    justify-content: center;
}

ul {
    display: flex;
    flex-wrap: wrap;
}

li {
    border: 1px solid black;
    list-style: none;
    width: 200px;
    height: 150px;
}
